#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define _BASE   0
#define _LOWER  1
#define _RAISE  2
#define _FUNCT  3
#define _ADJUST 4

#define K_COMPOSE K_APP

#define D_MUT LS(LC(F9))        // Mutes the microphone in apps that support toggle mute with Ctrl+Shift+F9
#define D_SIL LS(LC(F11))       // Likely to be a custom shortcut in specific applications, as Ctrl+Shift+F11 doesn't have a standard function in Windows
#define D_SHS LS(LC(F10))       // Could be a custom shortcut in specific apps, since Ctrl+Shift+F10 doesn't have a default action in Windows

#define VD_L   LC(LG(LEFT))     // Switches to the virtual desktop on the left using Ctrl+Win+Left Arrow
#define VD_R   LC(LG(RIGHT))    // Switches to the virtual desktop on the right using Ctrl+Win+Right Arrow
#define VD_U   LG(TAB)          // Shows the Windows task view for switching between apps and virtual desktops using Win+Tab


/ {
    macros {
        /* LANGUAGE SPECIFIC*/
        l_uml: l_uml {
            // Macro for Umlaute äöü
            label = "l_uml";
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings
                = <&kp K_COMPOSE &kp DQT>,
                  <&macro_param_1to1>,
                  <&kp MACRO_PLACEHOLDER>;
        };
        ZMK_MACRO(l_ss,
            // Macro for ß
            bindings = <&kp K_COMPOSE &kp S &kp S>;
        )

        /* REGION SPECIFIC - Europe */
        ZMK_MACRO(e_eur,
            // Macro for €
            bindings = <&kp K_COMPOSE &kp C &kp EQUAL>;
        )
        ZMK_MACRO(e_deg,
            // Macro for °
            bindings = <&kp K_COMPOSE &kp O &kp O>;
        )
    };
};

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
//          |           |           |           |           |           |           |           |           |           |           |           |           |           
            &kp Q       &kp W       &kp E       &kp R       &kp T                   &kp Y       &kp U       &kp I       &kp O       &kp P
&kp TAB     &kp A       &kp S       &kp D       &kp F       &kp G                   &kp H       &kp J       &kp K       &kp L       &kp SEMI    &kp RET
&kp LCTL    &kp Z       &kp X       &kp C       &kp V       &kp B                   &kp N       &kp M       &kp COMMA   &kp DOT     &kp FSLH    &kp LALT
                                    &kp LWIN    &kp SPACE   &mo _RAISE              &mo _LOWER  &kp BSPC    &kp RSFT     
            >;
        };

        lower_layer {
            bindings = <
//          |           |           |           |           |           |           |           |           |           |           |           |           |           
            &kp EXCL    &kp AT      &kp HASH    &kp DLLR    &kp PRCNT               &l_uml A    &kp N7      &kp N8      &kp N9      &l_ss               
&trans      &kp TILDE   &kp MINUS   &kp PLUS    &kp EQUAL   &e_deg                  &l_uml O    &kp N4      &kp N5      &kp N6      &kp N0      &trans    
&trans      &kp GRAVE   &kp FSLH    &kp ASTRK   &kp UNDER   &e_eur                  &l_uml U    &kp N1      &kp N2      &kp N3      &mo _FUNCT  &kp RALT
                                    &trans      &trans      &mo _RAISE              &mo _LOWER  &trans      &trans  
            >;
        };

        raise_layer {
            bindings = <
//          |           |           |           |           |           |           |           |           |           |           |           |           |           
            &kp VD_L    &kp HOME    &kp UP      &kp END     &kp VD_U                &kp CARET   &kp AMPS    &kp ASTRK   &kp LPAR    &kp RPAR               
&trans      &kp ESC     &kp LEFT    &kp DOWN    &kp RIGHT   &kp VD_R                &kp LBRC    &kp LBKT    &kp RBKT    &kp RBRC    &kp SQT     &trans    
&trans      &mo _FUNCT  &kp PG_DN   &none       &kp PG_UP   &kp DEL                 &kp BSLH    &kp PIPE    &kp LT      &kp GT      &kp DQT     &kp RALT
                                    &trans      &trans      &mo _RAISE              &mo _LOWER  &trans      &trans     
            >;
        };

        funct_layer {
            bindings = <
//          |           |           |           |           |           |           |           |           |           |           |           |           |           
            &bootloader &kp F7      &kp F8      &kp F9      &kp F12                 &kp F12     &kp F7      &kp F8      &kp F9      &bootloader
&trans      &bt BT_CLR  &kp F4      &kp F5      &kp F6      &kp F11                 &kp F11     &kp F4      &kp F5      &kp F6      &bt BT_CLR  &trans
&trans     &out OUT_TOG &kp F1      &kp F2      &kp F3      &kp F10                 &kp F10     &kp F1      &kp F2      &kp F3     &out OUT_TOG &trans
                                    &trans      &trans      &mo _RAISE              &mo _LOWER  &trans      &trans
            >;
        };

        adjust_layer {
            bindings = <
//          |           |           |           |           |           |           |           |           |           |           |           |           |           
            &none       &none       &none       &kp D_SHS   &kp C_VOL_UP            &kp C_PREV  &kp INS     &kp PSCRN   &kp SLCK    &kp PAUSE_BREAK
&trans      &kp CAPS    &caps_word  &none       &kp D_MUT   &kp C_VOL_DN            &kp C_PP    &kp K_APP   &none       &none       &none       &trans
&kp RALT    &none       &none       &none       &kp D_SIL   &kp C_MUTE              &kp C_NEXT &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &kp RCTL
                                    &kp LSFT    &trans      &mo _RAISE              &mo _LOWER  &trans      &kp RWIN
            >;
        };
    };
};

/ {
    conditional_layers {
        compatible = "zmk,conditional-layers";
        tri_layer {
            if-layers = <_LOWER _RAISE>;
            then-layer = <_ADJUST>;
        };
    };
};